parameters:
	ignoreErrors:
		-
			message: "#^Property CeusMedia\\\\Router\\\\Log\\:\\:\\$level has no typehint specified\\.$#"
			count: 1
			path: src/Log.php

		-
			message: "#^Property CeusMedia\\\\Router\\\\Log\\:\\:\\$file has no typehint specified\\.$#"
			count: 1
			path: src/Log.php

		-
			message: "#^Method CeusMedia\\\\Router\\\\Log\\:\\:add\\(\\) has parameter \\$data with no typehint specified\\.$#"
			count: 1
			path: src/Log.php

		-
			message: "#^Method CeusMedia\\\\Router\\\\Log\\:\\:add\\(\\) has parameter \\$levelOrLevelKey with no typehint specified\\.$#"
			count: 1
			path: src/Log.php

		-
			message: "#^Method CeusMedia\\\\Router\\\\Log\\:\\:debug\\(\\) has parameter \\$data with no typehint specified\\.$#"
			count: 1
			path: src/Log.php

		-
			message: "#^Method CeusMedia\\\\Router\\\\Log\\:\\:error\\(\\) has parameter \\$data with no typehint specified\\.$#"
			count: 1
			path: src/Log.php

		-
			message: "#^Method CeusMedia\\\\Router\\\\Log\\:\\:info\\(\\) has parameter \\$data with no typehint specified\\.$#"
			count: 1
			path: src/Log.php

		-
			message: "#^Method CeusMedia\\\\Router\\\\Log\\:\\:warn\\(\\) has parameter \\$data with no typehint specified\\.$#"
			count: 1
			path: src/Log.php

		-
			message: "#^Method CeusMedia\\\\Router\\\\Log\\:\\:_logByLevel\\(\\) has parameter \\$data with no typehint specified\\.$#"
			count: 1
			path: src/Log.php

		-
			message: "#^Method CeusMedia\\\\Router\\\\Log\\:\\:_logByLevelOrLevelKey\\(\\) has parameter \\$data with no typehint specified\\.$#"
			count: 1
			path: src/Log.php

		-
			message: "#^Method CeusMedia\\\\Router\\\\Log\\:\\:_logByLevelOrLevelKey\\(\\) has parameter \\$level with no typehint specified\\.$#"
			count: 1
			path: src/Log.php

		-
			message: "#^Strict comparison using \\=\\=\\= between 'CeusMedia\\\\\\\\Router\\\\\\\\Registry\\\\\\\\Source\\\\\\\\AbstractSource' and 'CeusMedia\\\\\\\\Router\\\\\\\\Registry\\\\\\\\Source\\\\\\\\AbstractSource' will always evaluate to true\\.$#"
			count: 1
			path: src/Registry/Source/AbstractSource.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/Registry/Source/AbstractSource.php

		-
			message: "#^Method CeusMedia\\\\Router\\\\Registry\\\\Source\\\\AbstractSource\\:\\:getOption\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Registry/Source/AbstractSource.php

		-
			message: "#^Method CeusMedia\\\\Router\\\\Registry\\\\Source\\\\AbstractSource\\:\\:setOption\\(\\) has parameter \\$value with no typehint specified\\.$#"
			count: 1
			path: src/Registry/Source/AbstractSource.php

		-
			message: "#^Call to function is_string\\(\\) with array will always evaluate to false\\.$#"
			count: 1
			path: src/Registry/Source/Memcache.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/Registry/Source/Memcache.php

		-
			message: "#^Method CeusMedia\\\\Router\\\\Registry\\\\Source\\\\SourceInterface\\:\\:getOption\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Registry/Source/SourceInterface.php

		-
			message: "#^Method CeusMedia\\\\Router\\\\Registry\\\\Source\\\\SourceInterface\\:\\:setOption\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Registry/Source/SourceInterface.php

		-
			message: "#^Method CeusMedia\\\\Router\\\\Registry\\\\Source\\\\SourceInterface\\:\\:setOption\\(\\) has parameter \\$value with no typehint specified\\.$#"
			count: 1
			path: src/Registry/Source/SourceInterface.php

